
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #828282;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.portfolio {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #eaeaea;
}
.intro-text {
    flex: 2;
    margin-right: 1em;
}

.intro-text h1 {
    font-size: 2em;
}

.intro-text p {
    margin: 0.25em 0;
}




.projects {
    padding: 2em;
    background-color: white;
}
.projects h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.project-item {
    width: 18%;
    background-color: #f9f9f9;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project-item h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.project-item p {
    font-size: 0.9em;
    margin: 0.5em 0;
    color: #666;
}

.project-item a {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em 0.5em;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.more-p {
    text-align: center;
    margin-top: 1em;
}

.more-p a {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em 0.5em;
    background-color: #555;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.skills {
    padding: 2em;
    background-color: #eaeaea;
}

.skills h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.skill-item {
    background-color: #fff;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 100px;
    font-weight: bold;
    color: #333;
}

.skill-item img {
    max-width: 60px; 
    height: auto;
}

.skill-item p {
    margin-top: auto; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}








/*contacts section */
.contact-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.contact-section h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.contact-section p {
    margin-bottom: 1.5em;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form label {
    font-weight: bold;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 0.8em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.social-media {
    margin-top: 2em;
}

.social-media h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.social-media a {
    margin: 0 1em;
    color: #333;
    text-decoration: none;
}

.social-media a:hover {
    color: #0073e6;
}
